.buildings, .rooms {
  width: 300px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.buildingItem {
  cursor: pointer;
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}
.buildingItem.selected {
  background: #1890ff;
  color: #FFF;
  border-bottom: none;
}
.bHeader {
  font-size: 20px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.buildings-group {
    overflow: auto;
    padding: 10px;
    flex-grow: 1;
}
.addBuildingFrm, .addRoomFrm {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.rooms {
  width: 300px;
  max-width: 30%;
  border:1px solid #DDD;
  border-top: none;
  border-bottom: none; 
  position: relative;
}
.editor {
  flex-grow: 1;
  overflow: auto;
  position: relative;
  background: #f7f7f7;
}
.editor form {
  flex-grow: 1;
  padding: 10px;
}

@media screen and (min-width: 1350px) {
  .editor {
    display: flex;
    /* justify-content: center */
  }
  .editor form {
    max-width: 520px;
  }
}

.faded {
    font-style: italic;
    /* color: #999 */
}

.empty {
  position: absolute;
  top: 66px;
  left: 10px;
  font-size: 20px;
  color: #AAA;
}

h3 {
  padding: 10px 0px 0px 0px;
  text-align: center;
  margin: 0;
  color: #888;
}